<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="org.fogsky.library.mapper.UserMapper">
    <cache></cache>
    <insert id="insertUser">
    		insert into User(name,gender,password,created_time) value(#{name},#{gender},#{password},Now())
    </insert>
    <select id="selectAll" resultType="user">
    		select * from User 
    </select>
    <select id="selectUserByIdOrName" resultType="user">
    		select * from user 
    		<where>
    			<choose>
    				<when test="id!=0">
    					id=#{id}
    				</when>
    				<when test="name!=null">
    					name=#{name}
    				</when>
    			</choose>
    		</where>
    </select>
    <update id="updateUserById">
    	update user 
    	<set>
    		<if test="name!=null"> name=#{name}</if>
    		<if test="gender!=0">gender=#{gender}</if>
    		<if test="password!=null">password=#{password}</if>
    		where id=#{id}
    	</set>
    </update>
    </mapper>